body{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    margin: 0;
}

.main-part{
    width: 420px;
    border: noen;
    border-radius: 2px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}

.main-title{
    color: #8E8E8E;

    padding: 10px 20px;
}

.user-pic{
    width: 45px;
    justify-content: center;


    border-radius: 25px;

    margin: 0px 14px;
}

.flexbox-main{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 30px;
}

.main-info{
    width: 1fr;

    margin-right: 23px;
    
}

.flexbox-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-name, .user-point{
    font-size: 18px;
    font-weight: bold;
}

.date{
    color: #90918A;
    font-size: 14px;
}

.user-content{
    color: #90918A;
}


