.body{
    height: 3000px;

}

.sidebar{
    background-color: green;
    color: white;

    position: fixed;
    width: 100px;
    top: 0;
    right: 0;
    bottom: 0;
}

.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal{
    background-color: white;
    width: 250px;

    font-family: Arial;

    border-radius: 5px;

    padding: 15px;
}

.title{
    font-size: 20px;
    font-weight: bold;

    margin: 0px;
}

.content{
    margin: 10px 0px;
}